# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# Virtual environments
.venv/
env/
venv/
ENV/

# PyInstaller
*.spec

# TinyDB / local data
records/

**/__pycache__/
